<header>
  <nav class="navbar" style="position: sticky; top: 0; z-index: 50;">
    <div class="nav-left">
      <a href="{{ path('index') }}" class="logo"><span class="green">Eco</span>Ride</a>
    </div>
  <div class="nav-mobile" id="menu">
    <div class="nav-center">
      <a href="{{ path('index') }}">Accueil</a>
      <a href="{{ path('covoiturage_list') }}">Covoiturages</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="nav-right">
      {% if app.user %}
        <a href="{{ path('user_profile') }}">Profil</a>
        <a href="{{ path('app_logout') }}" class="danger">Déconnexion</a>
      {% else %}
        <a href="{{ path('app_login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">Inscription</a>
      {% endif %}
    </div>
  </div>
    <button id="burger" class="burger">☰</button>
  </nav>
</header>